body{
background:url('b.jpg')no-repeat;
background-size:cover;
}.button2 {background-color: #008CBA;}

.bt{
	background-color:#73C6B6;
}

.img{
	margin-top: 30px;
	padding-left: 200px;
	padding-bottom: 30px;
	padding-right: 100px;
	margin-bottom: 30px;

}
.txt{
	float: right;
	padding-right:200px; 
	padding-top: 60px;
	font-size: 20px ;
	text-align-last: center;
}