body {
   margin-top: 50px;
   margin-bottom: 100px;
}
.heading{
	font-size: 5em;
	font-family: "Vibur", sans-serif;
	padding-left: 50px;
	padding-bottom: 0px;
	padding-top: 40px;
	color: #fff;
  animation: flicker 2.0s infinite alternate;
}
@keyframes flicker {
    
  0%, 50%,100%,100%,50%,0% {

      text-shadow:
      0 0 4px #4A148C,
      0 0 11px #4A148C ,
      0 0 19px #9C27B0 ,
      0 0 40px #AB47BC ,
      0 0 80px #AB47BC ,
      0 0 90px #BA68C8 ,
      0 0 100px #CE93D8 ,
      0 0 150px #E1BEE7 ;
  
  }
  
  20%, 24%, 55% {        
      text-shadow: none;
  }    
}

.index{
	display: grid;
	grid-template-columns: 1fr: 
}
.index{
	display: flex;
	justify-content: space-between;
	padding-top: 50px;
	padding-right: 50px;
	padding-left: 20px;
	padding-bottom: 30px;
	position: absolute;
}
.left-side{
	display: flex;
}
.wrapper {
	font-family:Agency FB;
	margin-right: 40px;
	height: 22px;
	font-size: 2em;
	text-transform: uppercase;
	text-decoration: none;
	border: transparent
	
}
.about {
  font-family:Agency FB;
	margin-right: 40px;
	height: 22px;
	font-size: 2em;
	text-transform: uppercase;
	text-decoration: none;

}

  .wrapper :hover {
   background-color: none;
  
   color: #0d0470;

}

  .about :hover {
   background-color: none;
   color: #0d0470;
   transition: color 0.5s;
   

}

.wrapper a {
  background-color: none; 
  padding: 14px 25px;
  display: inline-block; 
  text-decoration: none;
  transition: color 0.5s;


}
.about a {
  background-color: none;
  padding: 14px 25px; 
  display: inline-block;
  transition: color 0.5s;
  text-decoration: none;

}

.items{
	display: grid;
	grid-template-columns: 1fr  1fr  1fr;
	grid-row-gap: 50px;
	padding-left: 40px;
	padding-top: 150px;
	padding-bottom: 0px;
	border-right: 0px;

}
.item{
	position: relative;

}
.img-back{
	
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.Text{
	position: absolute;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	text-align: center;
  padding-right: 150px;
  padding-left: 150px;
  color: transparent;
  transition: 1s;
	font-size: 30px;
}
.Text:hover {
	color:#FBFCFC ;
	font-weight: relative;
	text-decoration: none;
	text-align: center;
}
.img-darken{
	transition: 1s;
	filter: brightness(90%);

}








.img{
	margin-top: 80px;
	padding-left: 200px;
	padding-bottom: 80px;
	padding-right: 100px;
	margin-bottom: 30px;

}
.txt{
	float: right;
	padding-right:250px; 
	padding-top: 60px;
	font-size: 20px ;
	text-align-last: center;
}



