body{

text-align-last: center;
font-family:Agency FB;
}
.header{
margin:75px;
}
.header h1{
font-size:3em;
color:black;
Letter-spacing:6px;
text-transform:uppercase;
opacity:.8;
}
.main{
margin:100px 0px;
}
.submain input[type="text"],.submain input[type="password"]{
outline:none;
font-size:1.1em;

padding:20px 10px 20px 10px;
border:none;
margin:0 0 15px 0;
background:none;
border-bottom:2px solid #eee;
width 20%;

opacity:55;
font-weight:600;
}
.submain input[type="submit"]{
background:url(submit.png) no-repeat 30% 45%;
height:67px;
outline:none;
margin-top:38px;
margin-left:0px;
border-radius:50%;
cursor:pointer;
border:2px solid #fff;
width:67px;
}
