body{

text-align:top-right;
font-size:25px;
text-align-last: center;
}
.zulu{
	font-family:Agency FB;
}
.xolo input[type="text"],.xolo input[type=text]{
outline:none;
font-family:Agency FB;
padding:20px 10px 20px 10px;
border:none;
margin:0 0 15px 0;
background:none;
border-bottom:2px solid #eee;
opacity:55;
font-weight:150px;
}
.xolo input[type="password"],.xolo input[type=password]{
outline:none;

padding:20px 10px 20px 10px;
border:none;
margin:0 0 15px 0;
background:none;
border-bottom:2px solid #eee;
opacity:55;
font-weight:200;
}
.xolo input[type="integer"],.xolo input[type=number]{
outline:none;

padding:20px 10px 20px 10px;
border:none;
margin:0 0 15px 0;
background:none;
border-bottom:2px solid #eee;
opacity:55;
font-weight:200;
}
.xolo input[type="Submit"]{
background:url(.png) no-repeat 30% 45%;
font-family:Agency FB;
height:20px;
margin:65px;
outline:none;
margin-top:38px;
border-radius:10%;
cursor:pointer;
border:2px solid #fff;
width:67px;
}
.xolo input[type="reset"]{
background:url('submit.png' height="10px" width="15px") no-repeat 30% 45%;

font-family:Agency FB;
height:30px;
outline:none;
margin:0px;
margin-top:38px;
border-radius:10%;
cursor:pointer;
border:2px solid #fff;
width:67px;
}
